
  .app {
    overflow: auto;
    margin-bottom: 50px;
  }
  .toolbar {
    margin: auto;
    margin-bottom: 5px;
    left: 0;
    bottom: 0;
    right: 0;
    height:55px;
    text-align: center;
    position: fixed;
    width: 25%;
    background-color: gold;
    border: 1px solid gray;
    border-bottom: 0;
    color: gray;
    font-size: -webkit-xxx-large;
    font-weight: bold;
}

button {
    cursor: pointer;
    background: transparent;
    border: 2px solid gray;
    padding: 10px;
    font-size: xx-large;
    outline: none;
    width: 100px;
}

.record {
  float: right;
}
.example-spacer {
    flex: 1 1 auto;
  }

  .main {
    background-color: aquamarine;
  }
  .spacer {
    flex: 1 1 auto;
  }